body {
	position: relative;
	top:95px;
	left:367px;
	width:900px;
	margin: 0px;
	padding:0px;
	background: lightblue;
}

.box img{
	width: 150px;
	height: 150px;
	border: 2px solid black;
}

.pic2{
	position: absolute;
    top:-1px;
    left: -60px;
    width: 900px;
    height:  400px;
    background:#c0c0c085;
    z-index:12;
}

.inter img{
	position: absolute;
    left:274px;
    width: 350px;
    height: 350px;
    border: 2px solid black;
}


.button{
	position: absolute;
	top:390px;
	display: flex;
	flex-direction: row;
}
.item {
	text-align: center;
	background: white;
	width:50px;
	height:35px;
	border: 2px solid black;
}
.PPP{
	position: absolute;
	top:450px;
	display: block;
	text-align: center;
	display: flex;
	flex-direction: row;
}
.a{
	width: 150px;
	height: 150px;
	background: white;
	border: 2px solid black;
}

.PPP span{
	font-size: 100px;
}


.add{
	position: absolute;
	top:646px;
	width:250px;
	height: 250px;
	border: 2px solid black;
	background: white;
}

.but{
	position: absolute;
	top:221px;
	left:190px;
	width: 50px;
	text-align: center;
	border: 2px solid black;
	background: green;
	font-size: 15px;
}

.items {
	display: flex;
	flex-direction: row;
	margin-left:5px;
	margin-top: 5px;
	width: 236px;
	border: 2px solid black;

}
.it1{
	width: 15%;
	border-right: 2px solid black;
	text-align: center;
}

.Delete {
	position: relative;
	left: 146px;
	border-left: 2px solid black;
}