* {
    margin: 0;
    padding: 0;
}

body {
	background: #99BD90;
}

.box {
	position: relative;
	background-color:#CDD3F5;
	left: 221px;
	top:137px;
	width: 800px;
	height:600px;
	border: 2px solid black;
}

.box .box-1 {
	position: relative;
	background-color:#99BD90;
	width: 760px;
	height:120px;
	margin: 20px;
	border: 2px solid black;
	box-shadow: 0 0 0 1px #000;
	display: flex;
	/*justify-content: flex-start;*/
}
.box .box-1 .box-item{
	display: flex;
	justify-content: flex-start;
	background-color:#CDD3F5;
	width: 80px;
	height: 80px;
	margin:20px;
	border: 2px solid black;
	box-shadow: 0 0 0 1px #000;
	vertical-align: middle;
}
.box .box-1 .end {
	display: flex;
	justify-content:flex-end;
	position: relative;
	left: 140px;
}

.M-box {
	position: relative;
	background-color:#99BD90;
	width: 760px;
	height:420px;
	left:20px;
	border: 2px solid black;
	box-shadow: 0 0 0 1px #000;
	display: flex;
	justify-content: space-between;

}

.M-box .box-2 {
	position: relative;
	background-color:#99BD90;
	width: 260px;
	height:380px;
	display: flex;
	flex-wrap: wrap;
}

.start {
	width: 220px;
	height: 300px;
	margin: 20px;
	background-color: #CDD3F5;
	border: 2px solid black;
	box-shadow: 0 0 0 1px #000;

}
.item-bottom{
	position: relative;
	left:20px;
	width: 50px;
	height: 50px;
	margin-right:25px;
	vertical-align: middle;
	background-color: #CDD3F5; 
	border: 2px solid black;
	box-shadow: 0 0 0 1px #000;
	display: flex;
}
.box .box-2 .item-bottom .strart {
	display: flex;
	align-content: flex-end;
}

.M-box .box-3 {
	background-color: #99BD90;
	width: 594px;
	height:397px;
	display: flex;
	flex-direction:column; ;
}
.item-right{
	width: 460px;
	height: 40px;
	vertical-align: middle;
	margin-top: 15px;
	margin-left: 20px;
	background-color: #CDD3F5; 
	border: 2px solid black;
	box-shadow: 0 0 0 1px #000;
}