* {
    margin: 0;
    padding: 0;
}

body {
	background: #99BD90;
}

.box {
	position: relative;
	background-color:#FFFFEB;
	left: 100px;
	top: 100px;
	width: 390px;
	height:370px;
	border: 1px solid black;
	box-shadow: 0 0 0 1px #000;
}

.box-bottom {
	position: relative;
	top: 259px;
	width: 390px;
	height:110px;
	background: #FFE6F4;
	border-top: 1px solid black;
	display: flex;
	flex-direction: column;
}

.box-bottom .item {
	width: 370px;
	height:20px;
	background: #FFFFFF;
	border: 1px solid black;
	box-shadow: 0 0 0 1px #000;
	margin-left: 10px;
	margin-top: 10px;
}

.box-bottom .bottom{
	position: relative;
	height:30px;
}
.box-bottom .item .top {
	position: relative;
	top:-3px;
	left:8px;
	font-size: 5px;
	font-weight: 900;
	 
}
.box-bottom .item .middle {
	position: relative;
	color: #F72051;
	font-size: 5px;
	left:8px;
	top:-3px;
	font-weight: 900;
}
.box-bottom .bottom .text1{
	position: relative;
	left: 8px;
	font-size: 20px;
	color: #F72051;
	font-weight: 900;
}

.box-bottom .bottom .text2{
	position: relative;
	left:15px;
	top:4px;
	font-size: 5px;
}

.box-bottom .bottom .text3{
	position: relative;
	left: 134px;
	top:4px;
	font-size: 5px;
}