* {
    margin: 0;
    padding: 0;
}

.BOX{
	position: relative;
	top:50px;
	left: 70px;
	width: 1220px;
	height: 800px;
	background: #F2F2F2;
}

.BOX .top1{
	width: 10px;
	height: 10px;
}
.BOX .top1 .box {
	position: relative;
	background-color:#FFFFEB;
	left: 10px;
	top: 20px;
	width: 390px;
	height:370px;
	border: 1px solid silver;
}
.png4{
	position: absolute;
	top: 0px;
	width: 390px;
	height: 259px;

}

.BOX .top1 .box .box-bottom {
	position: relative;
	top: 259px;
	width: 390px;
	height:110px;
	background: #FFFFFF;
	display: flex;
	flex-direction: column;
}

.BOX .top1 .box .box-bottom .item {
	width: 370px;
	height:20px;
	background: #FFFFFF;
	margin-left: 10px;
	margin-top: 6px;
}

.BOX .top1 .box .box-bottom .bottom{
	position: relative;
	height:30px;
}
.BOX .top1 .box .box-bottom .item .top {
	position: relative;
	top:-3px;
	left:8px;
	font-size: 16px;
	font-weight: 900;
	 
}
.BOX .top1 .box .box-bottom .item .middle {
	position: relative;
	color: #F72051;
	font-size: 16px;
	left:8px;
	top:-3px;
	font-weight: 900;
}
.BOX .top1 .box .box-bottom .item .middle2 {
	position: relative;
	color: gray;
	font-size: 16px;
	left:8px;
	top:-3px;
	font-weight: 900;
}
.BOX .top1 .box .box-bottom .bottom .text1{
	position: relative;
	left: 8px;
	font-size: 32px;
	color: #F72051;
	font-weight: 900;
}

.BOX .top1 .box .box-bottom .bottom .text2{
	position: relative;
	color: gray;
	left:15px;
	top:4px;
	font-size: 15px;
}

.BOX .top1 .box .box-bottom .bottom .text3{
	position: relative;
	color: gray;
	left: 156px;
	top:4px;
	font-size: 15px;
}

.BOX .top1 .box .box-bottom .bottom .text4{
	position: relative;
	color: #F72051;
	left: 160px;
	top:4px;
	font-size: 15px;
	font-weight: 900;
}

.BOX .top2{
	width: 10px;
	height: 10px;
}
.BOX .top2 .box {
	position: relative;
	background-color:#FFFFEB;
	left: 415px;
	top: 10px;
	width: 390px;
	height:370px;
	border: 1px solid silver;
}
.png5{
	position: absolute;
	top: 0px;
	width: 390px;
	height: 259px;

}

.BOX .top2 .box .box-bottom {
	position: relative;
	top: 259px;
	width: 390px;
	height:110px;
	background: #FFFFFF;
	display: flex;
	flex-direction: column;
}

.BOX .top2 .box .box-bottom .item {
	width: 370px;
	height:20px;
	background: #FFFFFF;
	margin-left: 10px;
	margin-top: 6px;
}

.BOX .top2 .box .box-bottom .bottom{
	position: relative;
	height:30px;
}
.BOX .top2 .box .box-bottom .item .top {
	position: relative;
	top:-3px;
	left:8px;
	font-size: 16px;
	font-weight: 900;
	 
}
.BOX .top2 .box .box-bottom .item .middle {
	position: relative;
	color: #F72051;
	font-size: 16px;
	left:8px;
	top:-3px;
	font-weight: 900;
}
.BOX .top2 .box .box-bottom .item .middle2 {
	position: relative;
	color: gray;
	font-size: 16px;
	left:8px;
	top:-3px;
	font-weight: 900;
}
.BOX .top2 .box .box-bottom .bottom .text1{
	position: relative;
	left: 8px;
	font-size: 32px;
	color: #F72051;
	font-weight: 900;
}

.BOX .top2 .box .box-bottom .bottom .text2{
	position: relative;
	color: gray;
	left:15px;
	top:4px;
	font-size: 15px;
}

.BOX .top2 .box .box-bottom .bottom .text3{
	position: relative;
	color: gray;
	left: 156px;
	top:4px;
	font-size: 15px;
}

.BOX .top2 .box .box-bottom .bottom .text4{
	position: relative;
	color: #F72051;
	left: 160px;
	top:4px;
	font-size: 15px;
	font-weight: 900;
}


///////
.BOX .top3{
	width: 10px;
	height: 10px;
}
.BOX .top3 .box {
	position: relative;
	background-color:#FFFFEB;
	left: 816px;
	width: 390px;
	height:370px;
	border: 1px solid silver;
}
.png6{
	position: absolute;
	top: 0px;
	width: 390px;
	height: 259px;

}

.BOX .top3 .box .box-bottom {
	position: relative;
	top: 259px;
	width: 390px;
	height:110px;
	background: #FFFFFF;
	display: flex;
	flex-direction: column;
}

.BOX .top3 .box .box-bottom .item {
	width: 370px;
	height:20px;
	background: #FFFFFF;
	margin-left: 10px;
	margin-top: 6px;
}

.BOX .top3 .box .box-bottom .bottom{
	position: relative;
	height:30px;
}
.BOX .top3 .box .box-bottom .item .top {
	position: relative;
	top:-3px;
	left:8px;
	font-size: 16px;
	font-weight: 900;
	 
}
.BOX .top3 .box .box-bottom .item .middle {
	position: relative;
	color: #F72051;
	font-size: 16px;
	left:8px;
	top:-3px;
	font-weight: 900;
}
.BOX .top3 .box .box-bottom .item .middle2 {
	position: relative;
	color: gray;
	font-size: 16px;
	left:8px;
	top:-3px;
	font-weight: 900;
}
.BOX .top3 .box .box-bottom .bottom .text1{
	position: relative;
	left: 8px;
	font-size: 32px;
	color: #F72051;
	font-weight: 900;
}

.BOX .top3 .box .box-bottom .bottom .text2{
	position: relative;
	color: gray;
	left:15px;
	top:4px;
	font-size: 15px;
}

.BOX .top3 .box .box-bottom .bottom .text3{
	position: relative;
	color: gray;
	left: 139px;
	top:4px;
	font-size: 15px;
}

.BOX .top3 .box .box-bottom .bottom .text4{
	position: relative;
	color: #F72051;
	left: 142px;
	top:4px;
	font-size: 15px;
	font-weight: 900;
}

///////
.BOX .top4{
	width: 10px;
	height: 10px;
}
.BOX .top4 .box {
	position: relative;
	background-color:#FFFFEB;
	top:18px;
	left:10px;
	width: 390px;
	height:370px;
	border: 1px solid silver;
}
.png7{
	position: absolute;
	top: 0px;
	width: 390px;
	height: 259px;

}

.BOX .top4 .box .box-bottom {
	position: relative;
	top: 259px;
	width: 390px;
	height:110px;
	background: #FFFFFF;
	display: flex;
	flex-direction: column;
}

.BOX .top4 .box .box-bottom .item {
	width: 370px;
	height:20px;
	background: #FFFFFF;
	margin-left: 10px;
	margin-top: 6px;
}

.BOX .top4 .box .box-bottom .bottom{
	position: relative;
	height:30px;
}
.BOX .top4 .box .box-bottom .item .top {
	position: relative;
	top:-3px;
	left:8px;
	font-size: 16px;
	font-weight: 900;
	 
}
.BOX .top4 .box .box-bottom .item .middle {
	position: relative;
	color: #F72051;
	font-size: 16px;
	left:8px;
	top:-3px;
	font-weight: 900;
}
.BOX .top4 .box .box-bottom .item .middle2 {
	position: relative;
	color: gray;
	font-size: 16px;
	left:8px;
	top:-3px;
	font-weight: 900;
}
.BOX .top4 .box .box-bottom .bottom .text1{
	position: relative;
	left: 8px;
	font-size: 32px;
	color: #F72051;
	font-weight: 900;
}

.BOX .top4 .box .box-bottom .bottom .text2{
	position: relative;
	color: gray;
	left:15px;
	top:4px;
	font-size: 15px;
}

.BOX .top4 .box .box-bottom .bottom .text3{
	position: relative;
	color: gray;
	left: 135px;
	top:4px;
	font-size: 15px;
}

.BOX .top4 .box .box-bottom .bottom .text4{
	position: relative;
	color: #F72051;
	left: 136px;
	top:4px;
	font-size: 15px;
	font-weight: 900;
}

///////
.BOX .top5{
	width: 10px;
	height: 10px;
}
.BOX .top5 .box {
	position: relative;
	background-color:#FFF;
	top:-354px;
	left: 414px;
	width: 390px;
	height:370px;
	border: 1px solid silver;
}
.png8{
	position: absolute;
	top: 0px;
	width: 390px;
	height: 259px;

}

.BOX .top5 .box .box-bottom {
	position: relative;
	top: 259px;
	width: 390px;
	height:110px;
	background: #FFFFFF;
	display: flex;
	flex-direction: column;
}

.BOX .top5 .box .box-bottom .item {
	width: 370px;
	height:20px;
	background: #FFFFFF;
	margin-left: 10px;
	margin-top: 6px;
}

.BOX .top5 .box .box-bottom .bottom{
	position: relative;
	height:30px;
}
.BOX .top5 .box .box-bottom .item .top {
	position: relative;
	top:-3px;
	left:8px;
	font-size: 16px;
	font-weight: 900;
	 
}
.BOX .top5 .box .box-bottom .item .middle {
	position: relative;
	color: #F72051;
	font-size: 16px;
	left:8px;
	top:-3px;
	font-weight: 900;
}
.BOX .top5 .box .box-bottom .item .middle2 {
	position: relative;
	color: gray;
	font-size: 16px;
	left:8px;
	top:-3px;
	font-weight: 900;
}
.BOX .top5 .box .box-bottom .bottom .text1{
	position: relative;
	left: 8px;
	font-size: 32px;
	color: #F72051;
	font-weight: 900;
}

.BOX .top5 .box .box-bottom .bottom .text2{
	position: relative;
	color: gray;
	left:15px;
	top:4px;
	font-size: 15px;
}

.BOX .top5 .box .box-bottom .bottom .text3{
	position: relative;
	color: gray;
	left: 156px;
	top:4px;
	font-size: 15px;
}

.BOX .top5 .box .box-bottom .bottom .text4{
	position: relative;
	color: #F72051;
	left: 160px;
	top:4px;
	font-size: 15px;
	font-weight: 900;
}

///////
.BOX .top6{
	width: 10px;
	height: 10px;
}
.BOX .top6 .box {
	position: relative;
	background-color:#FFFF;
	top:-726px;
	left: 816px;
	width: 390px;
	height:370px;
	border: 1px solid silver;
}
.png9{
	position: absolute;
	top: 0px;
	width: 390px;
	height: 259px;

}

.BOX .top6 .box .box-bottom {
	position: relative;
	top: 259px;
	width: 390px;
	height:110px;
	background: #FFFFFF;
	display: flex;
	flex-direction: column;
}

.BOX .top6 .box .box-bottom .item {
	width: 370px;
	height:20px;
	background: #FFFFFF;
	margin-left: 10px;
	margin-top: 6px;
}

.BOX .top6 .box .box-bottom .bottom{
	position: relative;
	height:30px;
}
.BOX .top6 .box .box-bottom .item .top {
	position: relative;
	top:-3px;
	left:8px;
	font-size: 16px;
	font-weight: 900;
	 
}
.BOX .top6 .box .box-bottom .item .middle {
	position: relative;
	color: #F72051;
	font-size: 16px;
	left:8px;
	top:-3px;
	font-weight: 900;
}
.BOX .top6 .box .box-bottom .item .middle2 {
	position: relative;
	color: gray;
	font-size: 16px;
	left:8px;
	top:-3px;
	font-weight: 900;
}
.BOX .top6 .box .box-bottom .bottom .text1{
	position: relative;
	left: 8px;
	font-size: 32px;
	color: #F72051;
	font-weight: 900;
}

.BOX .top6 .box .box-bottom .bottom .text2{
	position: relative;
	color: gray;
	left:15px;
	top:4px;
	font-size: 15px;
}

.BOX .top6 .box .box-bottom .bottom .text3{
	position: relative;
	color: gray;
	left: 156px;
	top:4px;
	font-size: 15px;
}

.BOX .top6 .box .box-bottom .bottom .text4{
	position: relative;
	color: #F72051;
	left: 160px;
	top:4px;
	font-size: 15px;
	font-weight: 900;
}