* {
	padding: 0px;
	margin: 0px;
}

.f1 {
	 position: absolute;
	 top:0px;
	 left:202px;
	 width:577px;
	 height:862px;
	 background: white;
	 z-index:0;


}
.f1 .p1 {
	position:relative;
	top: 32px;
	left:87px;
	color: orangered;
	font-size: 30px;
	font-weight: bolder;
}

.f1 .p2 {
	position:relative;
	top: -8px;
	left:220px;
	color: orangered;
	font-size: 30px;
	font-weight: bolder;
}

.f1 .p3 {
	position:relative;
	top: -48px;
	left:350px;
	color: orangered;
	font-size: 30px;
	font-weight: bolder;
}


.f1 .p4 {
	position:relative;
	top: -87px;
	left:483px;
	color: orangered;
	font-size: 30px;
	font-weight: bolder;
}

.f1 .p5 {
	position:relative;
	top: -90px;
	color: gray;
	left: 62px;
	font-size: 23px; 
	font-weight: bolder;
}

.f1 .p6 {
	position:relative;
	top: -122px;
	color: gray;
	left: 194px;
	font-size: 23px; 
	font-weight: bolder;
}

.f1 .p7 {
	position:relative;
	top: -152px;
	color: gray;
	left: 326px;
	font-size: 23px; 
	font-weight: bolder;
}


.f1 .p8 {
	position:relative;
	top: -183px;
	color: gray;
	left: 458px;
	height: 20px;
	font-size: 23px; 
	font-weight: bolder;
}

.f1 .p9 {
	position:relative;
	top: -130px;
	color: orangered;
	left: 168px;
	height: 43px;
	font-size: 23px; 
}

.f1 .p10 {
	position:relative;
	top: -101px;
	color: gray;
	left: 47px;
	font-size: 23px; 
}

.f1 .p11 {
	position:relative;
	top: -131px;
	color: gray;
	left: 155px;
	font-size: 23px; 
}

.f1 .p12 {
	position:relative;
	top: -163px;
	color: gray;
	left: 263px;
	font-size: 23px; 
}

.f1 .p13 {
	position:relative;
	top: -191px;
	color: gray;
	left: 371px;
	font-size: 23px; 
}

.f1 .p14 {
	position:relative;
	top: -222px;
	color: gray;
	left: 480px;
	font-size: 23px; 
}
.f1 .p15 {
	position:relative;
	top: -185px;
	color:#FF6347;
	left: 20px;
	font-size: 24px; 
}
.f1 .p16 {
	position:relative;
	top: -216px;
	color:#FF6347;
	left: 284px;
	font-size: 24px; 
}

.f1 .p17 {
	position:relative;
	top: -199px;
	color: gray;
	left: 24px;
	font-size: 24px; 
}
.f1 .p18 {
	position:relative;
	top: -230px;
	color: gray;
	left: 283px;
	font-size: 24px; 
}

.f1 .p19 {
	position:relative;
	top: -23px;
	color:#FF6347;
	left: 52px;
	font-size: 24px; 
}

.f1 .p20 {
	position:relative;
	top: -56px;
	color: gray;
	left: 171px;
	font-size: 24px; 
}

.f1 .p21 {
	position:relative;
	top: -88px;
	color: gray;
	left: 291px;
	font-size: 24px; 
}

.f1 .p22 {
	position:relative;
	top: -119px;
	color: gray;
	left: 410px;
	font-size: 24px; 
}

.f1 .p30 {
	position:relative;
	top: -395px;
	color: gray;
	left: 549px;
	font-size: 24px; 
}

.f1 .p23 {
	position:relative;
	top: -91px;
	color: gray;
	left: 44px;
	font-size: 24px; 
}
.f1 .p24 {
	position:relative;
	top: -71px;
	color: black;
	left: 43px;
	font-size: 24px; 
}
.f1 .p25 {
	position:relative;
	top: -75px;
	color: gray;
	left: 39px;
	font-size: 24px; 
}
.f1 .p26 {
	position:relative;
	top: -105px;
	color: gray;
	left: 93px;
	font-size: 24px; 
}
.f1 .p27 {
	position:relative;
	top: -136px;
	color:#FF6347;
	left: 121px;
	font-size: 24px; 
	font-weight: bolder;
}

#f5 .p28 {
	position:relative;
	width: 130px;
	height: 50px;
	top: 6px;
	color:white;
	left: 20px;
	font-size: 24px; 
	z-index: 1;
}

.img1 {
	position: relative;;
	top:396px;
	left:202px;
	width:140px;
	border-bottom:4px solid white;
	border-left: 2px solid coral;
	border-right: 2px solid coral;
	border-top:2px solid coral;
}
.img2 {
	position: relative;;
	top:398px;
	left:199px;
	width:140px;
	height: 150px;
	border-bottom: 2px solid coral;
	border-right: 2px solid silver;
	border-top:2px solid silver;
}
.img3 {
	position: relative;;
	top:398px;
	left:194px;
	width:144px;
	height: 150px;
	border-bottom: 2px solid coral;
	border-right: 2px solid silver;
	border-top:2px solid silver;
}
.img4 {
	position: relative;;
	top:398px;
	left:189px;
	width:141px;
	height: 150px;
	border-bottom: 2px solid coral;
	border-right: 2px solid silver;
	border-top:2px solid silver;
}
.img5 {
	position: relative;;
	top:12px;
	left:66px;
	width:17px;
}
#f2 {
	position: absolute;
	width:376px;
	height: 46px;
	top:622px;
	left:234px;
	border-bottom: 2px solid silver;
	border-right: 2px solid silver;
	border-top:2px solid silver;
	border-left:2px solid silver;	 
}
#f3{
	position: absolute;
	width:376px;
	height: 46px;
	top:670px;
	left:234px;
	border-bottom: 2px solid silver;
	border-right: 2px solid silver;
	border-top:2px solid silver;
	border-left:2px solid silver;	 
}
 
#f4{
	position: absolute;
	width:574px;
	height: 310px;
	top:551px;
	left:202px;
	border-bottom: 2px solid coral;
	border-right: 2px solid coral;
	border-top:2px solid coral;
	border-left:2px solid coral;	 
}
#f5{
	position: absolute;
	width:131px;
	height: 50px;
	top:781px;
	left:235px;
	background-color: orangered;	
	z-index: 0; 
}
#f6 {
	position: absolute;
	width:590px;
	height: 53px;
	top:127px;
	left:196px;
	background: #FAEBD7;
	z-index: 11;
}
#f7 {
	position: absolute;
	width:66px;
	height: 5px;
	top:246px;
	left:454px;
	background: orangered;
}
   
   #f8 {
	position: absolute;
	width:140px;
	height: 5px;
	top:549px;
	left:203px;
	background: white;
}
   #f6 .p9{
   	position:relative;
	top: 10px;
	color: orangered;
	left: 168px;
	height: 43px;
	font-size: 23px;
   }
             
 


 
