.row{
	margin: 0px;
}

.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9{
	padding:0px;
}


.top .first{
	height: 50px;
	background: #06C1AE;
	border-bottom: 1px solid #05A494;
}

.top .first .he{
	height: 50px;
}
.top .first .col-xs-8 span{
	position: absolute;
	color: white;
	font-size: 13px;
	padding: 3px 5px 0px 2px;     /*//上右下左*/
}
.top .first .hei span{
	position: absolute;
	padding: 14px 10px 10px 9px;     /*//上右下左*/
	color: white;
	font-size: 16px;
}
.top .first .col-xs-8{
	background: #05A494;
	top:10px;
	height: 30px;
	width: 261px;
}
.top .first .png4{
	position: absolute;
	padding: 5px 5px 0px 11px;     /*//上右下左*/
}

.top .first .hen span{
	position: absolute;
	color: white;
	font-size: 13px;
	padding: 28px 2px 3px 17px;     /*//上右下左*/
}

.top .first .hen{
	width: 47px;
}

.circle{
	border-radius: 50%;
	width: 42px;
	height: 42px;
	margin: 11px 0px 0px 27px;
}

.top .second span{
	position: absolute;
	color: #7E7E7E;
	font-size: 12px;
	padding: 4px 0px 0px 38px;
}

.top .second .three{
	padding: 28px 0px 0px 1px;
}
.top{
	height: 231px;
}
.M-box{
	background: #F0EFED;
	border-top: 1px solid #DFDAD1;
	border-bottom: 1px solid #DFDAD1;
	height: 13px;
}

.middle-first .one{
	height: 154px;
	border-right: 1px solid #DFDAD1;
}
.middle-first .one .text1{
	color: #55A40F;
	padding: 11px 0px 0px 25px;
	font-weight: 700;
}
.middle-first .one span{
	position: absolute;
	top:37px;
	left: 23px;
	font-size: 10px;
	color: #828282;
	
}
.middle-first .one .box{
	width: 87px;
	height: 87px;
	margin: 30px 0px 0px 24px;
	background: #666666;
}
.middle-first .two{
	height: 78px;
	border-left: 1px solid #DFDAD1;
	border-bottom: 1px solid #DFDAD1;
}
.middle-first .two .text1{
	color: #FF4210;
	padding: 12px 0px 0px 32px;
	font-weight: 700;
}
.middle-first .two span{
	position: absolute;
	top:37px;
	left: 21px;
	font-size: 10px;
	color: #828282;
	
}
.middle-first .two .box{
	width: 67px;
	height: 67px;
	margin: -25px 0px 0px 152px;
	background: #666666;
}

.middle-first .three{
	height: 81px;
	border-left: 1px solid #DFDAD1;
}
.middle-first .three .text1{
	color: #F748A2;
	padding: 8px 0px 0px 24px;
	font-weight: 700;
}
.middle-first .three .box{
	width: 40px;
	height: 40px;
	margin: 4px 0px 0px 49px;
	background: #666666;
}
.middle-first .fore{
	height: 81px;
	border-left: 1px solid #DFDAD1;
}
.middle-first .fore .text1{
	color: #FF8601;
	padding: 8px 0px 0px 20px;
	font-weight: 700;
}
.middle-first .fore .text2{
	position: absolute;
	top:29px;
	left: 18px;
	font-size: 10px;
	color: #828282;
}
.middle-first .fore .text{
	padding: 24px 0px 0px 15px;
	
}

.middle-first .fore span{
	width: 10px;
	height: 10px;
	font-size: 14px;
	color: white;
	background: #4C4C4C;
	padding: 0px 3px 0px 3px;
	border-radius: 3px;

}
.middle-first{
	height: 158px;
}

.middle-second{
	height: 75px;
}
.middle-second .col-xs-6{
	border-left: 1px solid #DFDAD1;
}
.middle-second .text{
	padding: 18px 0px 0px 22px;
	font-weight: 700;
	font-size: 16px;
}
.middle-second span{
	margin: 18px 0px 0px 21px;
	font-size: 10px;
	color: #828282;
	
}
.middle-second .box{
	width: 66px;
	height: 66px;
	margin: -56px 0px 0px 112px;
	background: #666666;
}

.bottom .box1{
	color: #828282;
	border-top: 1px solid #DFDAD1;
	border-bottom: 1px solid #DFDAD1;
	height: 40px;
}
.bottom .box1 span{
	position: absolute;
	top:514px;
	left:8px;
	color: #828282;
	font-weight: 700;
	font-size: 15px;
}
.png5{
	width: 81px;
	height: 81px;
	margin: 10px 0px 0px 9px;

}
.bottom .col-xs-12{
	border-top: 1px solid #DFDAD1;
	height: 103px;
}

.bottom .col-xs-12 .text1{
	color: #686868;
	margin: -79px 0px 0px 107px;
	font-size: 15px;

}

.bottom .col-xs-12 .text2{
	color: #38CDBE;
	padding: 16px 0px 0px 109px;
	font-size: 15px;
	font-weight: 700;
}
.bottom .col-xs-12 .text3{
	color:#FFB84F;
	width: 51px;
	margin: -20px 0px 0px 155px;
	font-size: 13px;
	border: 1px solid #FFB84F;
}
.bottom .col-xs-12 .text4{
	color:#686868;
	margin: -18px 0px 0px 298px;
	font-size: 9px;
}

.bottom .col-xs-12 .text5{
	color: #8C8C8C;
	margin: -12px 0px 0px 161px;
	font-size: 9px;
}

.bottom .col-xs-12 .box{
	width: 81px;
	height: 81px;
	margin: 10px 0px 0px 9px;
	background: #666666;
}

.bottom .col-xs-12 span{
	margin: 18px 0px 0px 109px;
	font-size: 10px;
	color: #969696;
	
}
.box2{
	height: 414px;
}
.BOX{
	background: #A0C5E8;
	height: 41px;
}

.BOX span{
	position: absolute;
	top:964px;
	left:8px;
	color: #5EB4D2;
	font-size: 17px;
	font-weight: 500;
}

.png6{

position: absolute;
	top:964px;
	left:324px;
}
